include src/python.cpp src/cpu_features.cpp src/__init__.py
include test/virtual-casing.cpp
include LICENSE README.md
graft include
graft extern/SCTL/include
graft extern/BIEST/include
graft cmake
global-include CMakeLists.txt *.cmake
